.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
}
.collapse{
    justify-content: center;
}
.nav-link{
    color: black;
    float: right;
}
.navbar{
    color: black;
    
    
}
