body{
    background-color: white;
    background-image: url('https://cdn.dribbble.com/users/1161517/screenshots/7896076/media/24ae74ddb6c9eb7789ae3a189a6b30ae.gif');
    background-repeat: no-repeat;
    margin-left: 30%;




}

mat-card{
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
    background-color: white;
}