<body >
  <div>

  </div>
  <div>
<mat-card style="margin-top: 15%;">
    <mat-card-title class="text-center">Signup </mat-card-title><br>
    <mat-card-content class="text-center">
        <form [formGroup]="myform" #formData="ngForm">
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input type="text" formControlName="Email" class="form-control" id="staticEmail" >
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" formControlName="Password" class="form-control" id="inputPassword">
                </div>
              </div> 
              <div class="mb-3 row">
                <label for="inputFirstName" class="col-sm-2 col-form-label">FirstName</label>
                <div class="col-sm-2">
                  <input type="text"  formControlName="FirstName" class="form-control" id="inputFirstName">
                </div>
                <label for="inputLastName" class="col-sm-2 col-form-label">LastName</label>
                <div class="col-sm-2">
                  <input type="text" formControlName="LastName" class="form-control" id="inputLastName">
                </div>
                
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="!formData.valid" (click)="submit() " (click)="move()">submit</button>
                

               
        </form>
    </mat-card-content>
</mat-card>
</div>
</body>